<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jamat_project_simulator">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Jamat_Project_simulator">

        <!-- User Activities -->
        <activity
            android:name=".ViewAvailableJammatsActivity"
            android:exported="false" />

        <activity
            android:name=".MyRequestsActivity"
            android:exported="false" />

        <!-- Admin Activities -->
        <activity
            android:name=".UpdateJammatActivity"
            android:exported="false" />

        <activity
            android:name=".ViewJammatsActivity"
            android:exported="false" />

        <activity
            android:name=".JoinRequestActivity"
            android:exported="false" />

        <activity
            android:name=".CreateJammatActivity"
            android:exported="false" />

        <activity
            android:name=".AdminDashBoard"
            android:exported="false" />

        <!-- Splash Activity (Launcher) -->
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- User Dashboard -->
        <activity
            android:name=".UserDashBoard"
            android:exported="false" />

        <!-- Auth Activities -->
        <activity
            android:name=".ResetPasswordActivity"
            android:exported="false" />

        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <activity
            android:name=".LoginActivity"
            android:exported="false" />
    </application>

</manifest>